@model ITAdminProject.Models.Jndmodel2
@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


<!DOCTYPE html>

<html lang="en">

<head>

    <title>Bootstrap Example</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap.min.css" />
    <script defer src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap.min.js"></script>
    <!-- jQuery -->
    <script defer src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />

    <!-- Bootstrap JavaScript -->
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="addbutton">
        <a asp-controller="Device" asp-action="Create">
            <button class="add-item-button">Add Item</button>
        </a>
    </div>
    <style>
        .addbutton {
            display: flex;
            flex-direction: row-reverse;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .add-item-button, .searchButton {
            margin-top: 1rem;
            background-color: #012C3D;
            color: white;
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .dropdown * {
            box-sizing: border-box;
        }

        .select {
            background: #2a2f3b;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 2px #2a2f3b solid;
            border-radius: 0.5em;
            padding: 1em;
            cursor: pointer;
            transition: background 0.35;
        }

            .select:hover {
                background: #323741;
            }

        .select-clicked {
            border: 2px #26489a solid;
            box-shadow: 0 0 0.8em #26489a;
        }


        .dropdown {
            min-width: 15em;
            position: relative;
            margin: 2em;
        }


        .caret {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid #fff;
            transition: 0.3s;
        }

        .caret-rotate {
            transform: rotate(180deg);
        }

        .menu {
            list-style: none;
            padding: 0.2em 0.5em;
            background: #323741;
            border: 1px #363a43 solid;
            box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
            border-radius: 0.5em;
            color: #9fa5b5;
            position: absolute;
            top: 3em;
            left: 50%;
            width: 100%;
            transform: translate(-50%);
            opacity: 0;
            display: none;
            transition: 0.2s;
            z-index: 1;
        }

            .menu li {
                padding: 0.7em 0.5em;
                margin: 0.3em 0;
                border-radius: 0.5em;
                cursor: pointer;
            }

        .active {
            background: #23242a;
        }

        .menu-open {
            display: block;
            opacity: 1;
        }

        .menu li:hover {
            background: #2a2d35;
        }

        .delete-footer{
            display: flex;
            flex-direction: row;
        }

        .delete-button{
            margin-left: 5px;
            background-color: crimson;
            color: white;
        }

        .close-button{
            height: 33px;
            color: black;
        }

    </style>

    <div class="container">

        <form method="post" asp-action="Index" class="my-5 animated-form">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="DeviceName">Search by Device Name:</label>
                    <select asp-for="DeviceName" asp-items="ViewBag.DeviceName" class="form-control">
                        <option value="">All Devices</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Search by Category:</label>
                    <select asp-for="CategoryId" asp-items="ViewBag.CategoryId" class="form-control">
                        <option value="0">All Categories</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Search by Assigned:</label>
                    <select asp-for="AssignedTo" asp-items="ViewBag.AssignedTo" class="form-control">
                        <option value="0">All Assigned</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label>Search by Availability:</label>
                    <select asp-for="StatusId" asp-items="ViewBag.StatusId" class="form-control">
                        <option value="0">All Status</option>
                    </select>
                </div>
            </div>
            <div class="text-center mt-3">
                <input type="submit" class="btn btn-primary btn-lg searchButton" value="Search" />
            </div>
        </form>
    </div>

        <br />
        @if (Model.listofJnd.Count() > 0)
        {
            <table class="table table-striped table-bordered" style="width:100%">
                <thread>
                    <tr>

                        <th>Device Name</th>
                        <th>Serial Number</th>
                        <th>Category Name </th>
                        <th>Assigned To</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thread>
                <tbody id="filter">
                    @foreach (var obj in Model.listofJnd)
                    {
                        <tr>

                            <td width="50%">@obj.DeviceName</td>
                            <td>@obj.SerialNumber</td>
                            <td>@obj.cname</td>
                            <td>@obj.FirstName</td>
                            <td>@obj.StatusName</td>
                            <td>

                                @*<a asp-controller="Device" asp-action="Edit" asp-route-id="@obj.Id"><button type="button" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" /></svg></button></a>*@
                                <button type="button" class="btn btn-success" onclick="OpenUpdateModal('@obj.Id', '@obj.DeviceName', '@obj.SerialNumber','@obj.AssignedTo', '@obj.StatusId', '@obj.CategoryId')"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z" /></svg></button>

                                <button type="button" class="btn btn-danger" onclick="OpenDeleteModal('@obj.Id')"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" /></svg></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No category exists.....</p>
        }




</body>

<script>

    function OpenUpdateModal(Id, DeviceName, SerialNumber, AssignedTo, StatusId, CategoryId) {
        document.getElementById('editDeviceName').value = DeviceName;
        document.getElementById('editSerialNumber').value = SerialNumber;
        document.getElementById('editAssignedTo').value = AssignedTo;
        document.getElementById('editStatusId').value = StatusId;
        document.getElementById('editCategoryId').value = CategoryId;
        document.getElementById('editDeviceId').value = Id;

        $('#updateDeviceModal').modal('show');

    }

    function OpenDeleteModal(Id) {

        $("#deleteDeviceForm input[name='Id']").val(Id);

        // document.getElementById('editDeviceName').value = DeviceName;
        // Open the modal
        $("#deleteDeviceModal").modal("show");
    }

</script>

<!--Edit modal-->
<div class="modal fade" id="updateDeviceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Device Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editDeviceForm" method="post" asp-action="Edit">
                    <input type="hidden" id="editDeviceId" name="Id" asp-for="Id" />
                    <div class="form-group">

                        <label asp-for="DeviceName" class="control-label"></label>
                        <input type="text" asp-for="DeviceName" class="form-control" id="editDeviceName" name="DeviceName" />

                        <label asp-for="listofJnd.Where(v => v.Id == Model.Id).FirstOrDefault().SerialNumber" class="control-label"></label>
                        <input type="text" asp-for="listofJnd.Where(v => v.Id == Model.Id).FirstOrDefault().SerialNumber" class="form-control" id="editSerialNumber" name="SerialNumber" />

                        <label asp-for="CategoryId" class="control-label"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId" id="editCategoryId"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>

                        <label asp-for="AssignedTo" class="control-label"></label>
                        <select asp-for="AssignedTo" class="form-control" asp-items="ViewBag.AssignedTo" id="editAssignedTo"></select>
                        <span asp-validation-for="AssignedTo" class="text-danger"></span>

                        <label asp-for="StatusId" class="control-label"></label>
                        <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId" id="editStatusId"></select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Save Changes" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
@*<div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Device</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <form id="deleteDeviceForm" asp-action="DeleteDevice" method="post">
                        <div class="form-group">
                            <input type="hidden" name="Id" asp-for="Id" />
                            <button type="submit" class="btn btn-default">Delete</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Are you sure you want to delete this?</h3>
            </div>
            <div class="modal-footer delete-footer">
                <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">Close</button>
                <form id="deleteDeviceForm" asp-action="DeleteDevice" method="post">
                    <div class="form-group">
                        <input type="hidden" name="Id" asp-for="Id" />
                        <button type="submit" class="btn btn-secondary delete-button">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



</html>

<script>
    const dropdown = document.getElementById("categoryFilter");
    dropdown.addEventListener('change', put());


    async function put() {
        const selectedValue = dropdown.value;

        fetch(`/Filter/Index?selectedValue=${selectedValue}`)
            .then(response => response.json())
            .then(data => {
                alert(selectedValue);
                // var dataString = JSON.stringify(data);

                // var target = '/Device/set?data=' + encodeURIComponent(dataString);
                const fil = document.getElementById("filter");
                console.log(data);
                fil.innerHTML = '';
                for (let i = 0; i < data.length; i++) {

                    console.log(data[i].deviceName);

                    var header = document.createElement('tr');
                    var th = document.createElement('td');
                    th.textContent = data[i].deviceName;
                    header.appendChild(th);
                    var th = document.createElement('td');
                    th.textContent = data[i].serialNumber;
                    header.appendChild(th);

                    var ss = await fetchCustom();
                    var th = document.createElement('td');
                    th.textContent = ss;
                    header.appendChild(th);



                    var th = document.createElement('td');
                    th.textContent = "from";
                    header.appendChild(th);



                    var th = document.createElement('td');
                    th.textContent = "otherside";
                    header.appendChild(th);



                    var td = document.createElement('td');

                    // Create the "Success" button
                    var successButton = document.createElement('button');
                    successButton.type = 'button';
                    successButton.className = 'btn btn-success';

                    // Create the SVG icon for the "Success" button
                    var successSvg = document.createElement('svg');
                    successSvg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
                    successSvg.setAttribute('height', '1em');
                    successSvg.setAttribute('viewBox', '0 0 512 512');

                    // Create the path element for the "Success" button icon
                    var successPath = document.createElement('path');
                    successPath.setAttribute('d', 'M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c-21.9-21.9-57.3-21.9-79.2 0L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z');

                    // Append the path element to the SVG element
                    successSvg.appendChild(successPath);

                    // Append the SVG element to the "Success" button
                    successButton.appendChild(successSvg);

                    // Create the "Danger" button (similar to "Success" button)
                    var dangerButton = document.createElement('button');
                    dangerButton.type = 'button';
                    dangerButton.className = 'btn btn-danger';

                    var dangerSvg = document.createElement('svg');
                    dangerSvg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
                    dangerSvg.setAttribute('height', '1em');
                    dangerSvg.setAttribute('viewBox', '0 0 448 512');

                    var dangerPath = document.createElement('path');
                    dangerPath.setAttribute('d', 'M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z');

                    dangerSvg.appendChild(dangerPath);
                    dangerButton.appendChild(dangerSvg);

                    // Append both buttons to the table cell
                    td.appendChild(successButton);
                    td.appendChild(dangerButton);

                    header.appendChild(td);
                    fil.appendChild(header);
                }

            }).catch(error => {
                console.log("Error");
            });
    });

    async function fetchCustom() {
        alert("inside FUNC");
        const r1 = await fetch(`http://localhost:56059/Category/Get?data=1`);
        console.log(await r1.text())

        //${data[i].categoryId}
        //debugger
        //const rj1 = await r1.json();
        // console.log(rj1);
        alert("done FUNC");
        return await r1.text();
    }
</script>